<!-- <div class="pagination">
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    aria-label="Select page"
    (page)="onPage(currentPage)"
  >
  </mat-paginator>
</div> -->


<div class="animes">
  <div class="anime" *ngFor="let anime of AnimeItem" (click)="openAnimeDetails(anime.id)">
    <div class="anime-thumb-container">
      <img
        src="{{ anime.cover_image }}"
        alt="thumbnail"
        class="anime-thumbnail"
      />
    </div>
    <div class="anime-description">
      <p class="anime-name">{{ anime.titles.en }}</p>
      <p class="anime-date">{{ anime.season_year }}</p>
      <div class="anime-platforms"></div>
    </div>
  </div>
</div>
