<div class="filters">
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select pamelClass="sort-select" [(ngModel)]="sort" (selectionChange)="filterAnimes(sort)">
        <mat-option value=0>TV</mat-option>
        <mat-option value=1>TV Short</mat-option>
        <mat-option value=2>Movie</mat-option>
        <mat-option value=3>Special</mat-option>
        <mat-option value=4>OVA</mat-option>
        <mat-option value=5>ONA</mat-option>
        <mat-option value=6>Music</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
